<div id ="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>© Copyright 2019 News | Powered by <a href="">KRISH DHIMAN</a></span>
            </div>
        </div>
    </div>
</div>