<div id="header">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row ml-4 justify-content-center">
      <!-- LOGO -->
      <div class=" col-md-offset-4 col-md-4">
        <a href="/" id="logo">

          <img src="http://localhost:8000/images/news.jpg"></a>
      </div>
      <!-- /LOGO -->
    </div>
  </div>
</div>