<div id="header">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- LOGO -->
      <div class="col-md-4 offset-md-4">
        <a href="/" id="logo">
          <img src="http://localhost:8000/images/news.jpg">
        </a>
      </div>
      <div class="col-md-2 offset-md-2 d-flex gap-2 align-items-center justify-content-end">
        <a href="http://localhost:8000/admin/login" class="admin-logout fs-5 text-white text-uppercase text-bold">Login</a> 
        <a href="http://localhost:8000/admin/logout" class="admin-logout fs-5 text-white text-uppercase text-bold">Logout</a>
    </div>
      <!-- /LOGO -->
    </div>
  </div>
</div>