<div id="menu-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul id="menubar" class='menu'>
          </ul>
        </div>
      </div>
    </div>
  </div>