<!-- search box -->
<div class="search-box-container">
    <h4>Search</h4>
    <form  method="get" action="/post/search/query" class="search-post">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search .....">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-danger">Search</button>
            </span>
        </div>
    </form>
</div>
<!-- /search box -->
<!-- recent posts box -->
<div class="recent-post-container">
    <h4>Recent Posts</h4>
        <!-- /recent posts box -->
    </div>
</div>